body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h4,
p {
  padding: 0;
  margin: 0;
}
/* nav스타일링 */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(150, 150, 150);
  color: rgb(150, 150, 150);
}

.main-nav a:hover {
  color: black;
}

.main-title {
  margin-left: 3rem;
}

.main-nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.main-link {
  margin-right: 3rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 15px 20px;
}
/* post카드 스타일링 */
#main-blog {
  margin-top: 5rem;
}
.post-list {
  position: relative;
  width: 40rem;
  margin: 2rem auto;
  border-bottom: 1px solid;
}

.post-list h4 {
  display: inline-block;
}

.post-list h4,
p {
  padding: 0.5rem;
}

.like-btn {
  cursor: pointer;
}

#delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: white;
  cursor: pointer;
}

/* 모달창 */
.post-modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
  width: 50rem;
  margin: auto;
  border-radius: 5px;
}

.post-modal h4 {
  padding: 8px;
}

/* 포스트 */
#post-input {
  text-align: center;
}

#post-btn {
  cursor: pointer;
}
