body,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h4, p {
  padding: 0;
  margin: 0;
}
/* nav스타일링 */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(150, 150, 150);
  color: rgb(150, 150, 150);
}

.main-nav a:hover {
  color: black;
}

.main-title {
  margin-left: 3rem;
}

.main-nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
}

.main-link {
  margin-right: 3rem;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 15px 20px;
}
/* post카드 스타일링 */
#main-blog {
  margin-top: 5rem;
}
.post-list {
  width: 40rem;
  margin: 2rem auto;
  border-bottom: 1px solid;
}

.post-list h4, p {
  /* border: 1px solid red; */
  padding: 0.5rem;
}

